!!! XML
!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title Add a video
  %body
    %form{action:'addvid', method:'post'}
      %label{for:'vidid'}
        Enter a youtube URL:
      %input#vidid{name:'vidid', style:'width:500px'}
      %input{type:'submit'}
