!!! XML
!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title Add a video
  %body
    %form{action:'addvid', method:'post'}
      %input{name:'vidid'}
      %input{type:'submit'}
